.clickable {
    cursor: pointer;
    transition: var(--animation-scale);
}

.clickable:hover {
    opacity: 0.6;
}

.filled-btn {
    min-width: 150px;
    max-width: 50%;
    padding: 8px;
    background-color: var(--accent-color);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    align-self: center;
    transition: var(--animation-scale);
    cursor: pointer;
}

.filled-btn:hover {
    filter: brightness(90%);
}

.error-message {
    color: rgb(157, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.loading {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: white;
}

.sidebar-header {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    min-width: 38px;
    min-height: 38px;
    padding: 2px;
    margin-right: 12px;
    background-color: rgb(0, 123, 199);
    color: white;
    font-weight: bolder;
    font-size: 16px;
    overflow: hidden;
}