.list {
    height: 100%;
    overflow-y: auto;
}

.list-container {
    height: 100%;
    border-right: 1px solid var(--border-color);
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.header {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    padding: 10px 0px;
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    z-index: 1;
}

.user-info {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-info:hover {
    border-bottom: 2px solid black;
}

.list input[type='search'] {
    margin: 0;
    padding: 10px;
    width: 95%;
    height: 40px;
    font-size: 18px;
    border: none;
    background-color: #efefef;
    border-radius: 10px;
    outline: none;
    transition: var(--animation-scale);
}

.list input[type='search']:focus {
    background-color: #dfdfdf;
}

.list-title {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
}

.list-item {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    min-height: 75px;
    transition: var(--animation-scale);
    padding-left: 8px;
    border-bottom: 1px solid var(--border-color);
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    min-width: 38px;
    min-height: 38px;
    padding: 2px;
    margin-right: 12px;
    background-color: rgb(0, 123, 199);
    color: white;
    font-weight: bolder;
    font-size: larger;
    overflow: hidden;
}

.list-item-title {
    line-height: 30px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-item-description {
    color: rgb(114, 114, 114);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.item-edit {
    padding: 4px;
    position: absolute;
    right: 8px;
    cursor: pointer;
    display: none;
}

.list-item:hover .item-edit {
    display: unset;
}

#contact-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: white;
}

#contact-form-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    font-size: 20px;
}

#contact-form-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 50px;
}

#contact-form-content input {
    font-size: 16px;
    padding: 10px 6px;
    border-radius: 4px;
    border: none;
    margin: 8px 14px;
    background-color: #eeeeee;
    color: black;
    outline: none;
}